@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Sansita:100,200,300,400,500,600,700');

/* -------------------------------------Colors */

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
     color: #ffffff;    
} 

.navbar-light .navbar-brand {
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    color: #ffffff;
}

.bg-light {
    background-color: #5349a0!important;
}
.body-color {
    background-color: #edf0f2;
    border: 5px #5349a0 solid;
}

.brand-color {
    color: #ffffff;
}

.navbar-default {
  background-color: #edf0f2;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar { 
    background-image: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
     font-family: "Montserrat",sans-serif;
    font-weight: 300;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
    background-color: #5349a0;
    border-radius: 15px;
}

.fa-credit-card:before {
    content: "\f09d";
    color: orange;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
    background-color: #5439a0;
}

.nav-link {
    padding: 0;
}

/* -------------------------------------Navigation */

.nav-menu {
    display: inline;
}


/* -------------------------------------Heading */

.uppercase {
    text-transform: uppercase;
}

.container-fluid {
    height: 55vh;
    margin: 0;
    padding: 0;
}

.offer {
    margin-top: 50px;
    align-content: center;
}
 
.offer p {
    color: #5439a0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 2px;
}

#offer h5 {
    color: #5439a0;
    font-family: "Sansita", sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 2px;
}

/* -------------------------------------Images */

/* img {
    vertical-align: middle;
    border-style: none; 
    border-radius: 50%;
} */


/* -------------------------------------Footer */

.nav .nav-item a {
    color: #ffffff;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
}

/* -------------------------------------About Us */

.abt {
    color: #5349a0; 
}

.abt h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
}

.abt p li {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: justify;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;

}
a {
    color: #5439a0;
    text-decoration: none;
    background-color: transparent;
}


@media (min-width: 768px)
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

@media (min-width: 768px)
.col-md-6 {
    flex: 0 0 50%;
    max-width: 100%;
    margin: 5px;
}

.media {
    display: flex;
    align-items: flex-start;
    margin: 5px;
}

ul {
    margin-top: 0;
    line-height: 2;
}

#where {
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

/* -------------------------------------Contact */

/* adapted from Rosie */

.contact-heading {
    color:  #5439a0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #777777;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.conbg {
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
} 


/* -------------------------------------Buttons */

.btn-purple {
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #5439a0;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 15px;
}

.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus,
.btn-purple:active:focus {
    color: #5349a0;
    border-radius: 15px;
    background-color: #ffffff;
    border-color: orange;
}

.btn-offer {
    display: inline-block;
    color: #5439a0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.75;
    border-radius: .25rem;
}

.btn-offer:hover,
.btn-offer:active,
.btn-offer:focus,
.btn-offer:active:focus {
    color: #5349a0;
    border-radius: 15px;
    background-color: #ffffff;
    border-color: orange;
}

/* .btn-sub {
    display: inline-block;
    color: #5439a0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.75;
    border-radius: .25rem;
}

.btn-sub:hover,
.btn-sub:active,
.btn-sub:focus,
.btn-sub:active:focus {
    color: #5349a0;
    border-radius: 15px;
    background-color: #ffffff;
    border-color: orange;
} */
/* -------------------------------------Discount Offer */

/* -------------------------------------Privacy */

/* Background image insertion adapted from Rosie project */

.priv {
    color: #777777;
    background-image: url(" ../images/privacy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
} 

/* Overlay adapted from the Whiskey drop project */

.overlay {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.priv h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
}

.priv p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: justify;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;

}

